require 'pry'

<h1>Welcome, <%=current_user.first_name%></h1>

<h3>Your Current Adventures:</h3>
<ul>
    <li><%current_user.adventures.each do |adventure|%>
        <%= adventure.name %> - <%= adventure.location %>
    <%end%></li>
    
    
</ul>