<h1>Adventure Index</h1>

<ol>
    <%Adventure.all.each do |adventure|%>
        <li><%=link_to(adventure.name, adventure_path(adventure))%> - <%= adventure.location %></li>
    <%end%>
</ol>

<%= link_to("Create a new Adventure?", new_adventure_path)%>
