<h1>Adventure Index</h1>

<ol>
    <%@adventures.each do |adventure|%>
        <div id="<%= adventure.id %>"><li><%=link_to(adventure.name, adventure_path(adventure), id:adventure.id, class:'adv')%> - <%= adventure.location %></li></div>
    <%end%>
</ol>

<%= link_to("Create a new Adventure?", new_adventure_path)%>
