<h1><%= @adventure.name %></h1>
<%= render 'adventures/adventure'%>
<br/>
<%= link_to("Edit this adventure?", edit_adventure_path(@adventure)) %> |   <%= link_to"Delete this adventure?", adventure_path(@adventure), method: :delete %>