<h1>Franchise Index</h1>

<ol>
    <%@franchises.each do |franchise|%>
        <div id="<%= franchise.id %>"><li><%=link_to(franchise.name, franchise_path(franchise), id:franchise.id)%> -   <%= franchise.company %></li></div>
    <%end%>
</ol>

