<h1>Welcome, Adventurer</h1>

<ul>
    <p>New to the guild? <%= link_to "Sign-Up", new_user_registration_path %></p>
    <p>Returning from a quest? <%= link_to "Login", new_user_session_path %></p>
   
</ul>